<!DOCTYPE html>
<html lang="en">

{% include "base.html" %}

<style>
.lists {
        max-width: 400px;
	padding: 15px;
	margin: 0 auto;
}
.btn {
	white-space: normal;
}
</style>

<body>
	<form method="POST" action="get_tasks" id="form_get_tasks" >
		<input type='hidden' name="project_id" value="{{project_id}}",id="project_id">
		<input type='hidden' name="project_name" value="{{project_name}}",id="project_name">
		<input type='hidden' name="list_id" value="" id="list_id">
		<input type="hidden" name="list_name" value="" id="list_name">
	</form>
	<div class="lists">
		
		{%for id,name in lists.items%}
			<input type="button" class="btn_list_name btn btn-default btn-block" id={{id}} value="{{name}}"><br>	
		{%endfor%}
	</div>	
</body>
</html>



<script>
	$('.btn_list_name').click(function(){
		$('input[name="list_id"]').val(this.id);
                $('input[name="list_name"]').val(this.value);
                $('#form_get_tasks').submit();

	});

</script>


